
@using SHUNetMVC.Abstraction.Model.Response
@model User

<div class="table-title">
    <div class="heading-Text">
        Heading Text
    </div>
    <div class="table-subtitle">
        Heading sub title
    </div>
    <br />
    <div class="table-subtitle">
        User Profile : 
        <br />
        Employee Name : @Model.Name
        <br />
        Entity : @Model.EntityID
        <br />
        OrgUnit : @Model.OrgUnitID
    </div>
</div>

<div class="p-3">

    <div>
        <p style="text-align:justify">

            <i class="fa fa-laptop" style="color:darkcyan;"></i>
            <i style="color:darkcyan"> Fontawesome Icon</i>

            <br />
            <i class="icon icon-simcard" style="color:darkcyan"> Iconsax Icon</i>
            <br />
            <i class="bi bi-router" style="color:darkcyan"> Bootstrap Icon</i>
            <br />
            <br />

            Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco cillum dolor. Voluptate exercitation incididunt aliquip deserunt reprehenderit elit laborum. Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco cillum dolor. Voluptate exercitation incididunt aliquip deserunt reprehenderit elit laborum. Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco cillum dolor. Voluptate exercitation incididunt aliquip deserunt reprehenderit elit laborum. Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco cillum dolor. Voluptate exercitation incididunt aliquip deserunt reprehenderit elit laborum. Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco cillum dolor. Voluptate exercitation incididunt aliquip deserunt reprehenderit elit laborum. Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco cillum dolor. Voluptate exercitation incididunt aliquip deserunt reprehenderit elit laborum.
        </p>

        @for (int i = 0; i < 20; i++)
        {
            <p style="text-align:justify">
                Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco cillum dolor. Voluptate exercitation incididunt aliquip deserunt reprehenderit elit laborum. Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco cillum dolor. Voluptate exercitation incididunt aliquip deserunt reprehenderit elit laborum. Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco cillum dolor. Voluptate exercitation incididunt aliquip deserunt reprehenderit elit laborum. Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco cillum dolor. Voluptate exercitation incididunt aliquip deserunt reprehenderit elit laborum. Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco cillum dolor. Voluptate exercitation incididunt aliquip deserunt reprehenderit elit laborum. Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco cillum dolor. Voluptate exercitation incididunt aliquip deserunt reprehenderit elit laborum.
            </p>
        }




    </div>
</div>