
<style>
    .k-grid .k-grid-search {
        display: flex;
        margin-left: auto;
        margin-right: 0;
        width: max-content;
    }

    .k-grid-header, .k-grid-header .k-header {
        background-color: #D6E7F3;
        border-color: #A5CAE6;
    }

    .k-grid-toolbar {
        background-color: transparent;
        border-color: transparent;
    }

    .k-button-text {
        background-color: transparent;
    }

    .k-button-solid-base {
        border-radius: 4px;
    }

    .k-grid.k-grid-display-block {
        display: block;
        border: none;
    }

    .btn.disabled, .btn:disabled, fieldset:disabled .btn {
        color: #ADB5BD;
        pointer-events: none;
        background-color: #E9ECEF;
        border-color: #ADB5BD;
        cursor: not-allowed;
    }

    .k-button-md.k-icon-button > .k-button-icon {
        min-width: 1.5rem;
        min-height: 0rem;
    }
   
    /*DetailPage*/
</style>
<section class="details_page_detail">
    <header class="header_details">
        <img class="arrow" src="Asset/kembali_whitecolor.png" alt="Back Arrow">
        <img class="firetruck" src="Asset/FireTruck_Pertamina.png" alt="Fire Truck">
    </header>
    <main>
        <div class="card">
            <div class="card-content">
                <img class="card_button" src="Asset/card_button.png" alt="" width="70" height="5">
            </div>
            <div class="info">
                <h1 class="nomor_aset">0418225000001</h1>
                <div class="text-container">
                    <p>by</p>
                    <h6>Dea Trisna Ananda</h6>
                </div>
            </div>
            <div class="d-inline-flex" style="margin-top: -30px;">
                <div class="home">
                    <div class="container">
                        <img src="Asset/home_icon.png" alt="Home" width="21" height="21">
                        <div class="info">
                            <p>Nama Item</p>
                            <h5>FireTruck PT Pertamina</h5>
                        </div>
                    </div>
                </div>
                <div class="clock">
                    <div class="container">
                        <img src="Asset/clock_icon.png" alt="Clock" width="21" height="21">
                        <div class="info">
                            <p>Last Update</p>
                            <h5>12 Desember 2023</h5>
                        </div>
                    </div>
                </div>
            </div>
            <nav>
                <div class="d-inline-flex" style="margin-top: -40px;">
                    <ul class="menu">
                        <a style="color: black;" href="DetailsPage.html">
                        <li class="navbar_menu_one">Details</li></a>
                        <a style="color: black;" href="Location.html">
                        <li class="navbar_menu_two">Location</li></a>
                        <a style="color: black;" href="CategoryPage.html">
                        <li class="navbar_menu_three">Category</li></a>
                        <a style="color: black;" href="History.html">
                        <li class="navbar_menu_four">History</li></a>
                    </ul>
                </div>
            </nav>
            <div class="content">
                <h1 class="desc">Description</h1>
                <p class="desc-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac venenatis risus. Vivamus sed dolor tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac venenatis risus. Vivamus sed dolor tincidunt.</p>
                <div class="titles" style="margin-top: -30px;">
                    <div class="title">
                        <div class="info-title col-6">
                            <p>Nama Item</p>
                            <h5>FireTruck PT Pertamina</h5>
                        </div>
                        <div class="info-title col-6">
                            <p>Merek Aset</p>
                            <h5>KRISBOW</h5>
                        </div>
                    </div>
                </div>
                <div class="titles" style="margin-top: -30px;">
                    <div class="title">
                        <div class="info-title col-6">
                            <p>Tipe Aset</p>
                            <h5>PT. Sumur Makmur</h5>
                        </div>
                        <div class="info-title col-6">
                            <p>Tahun Perolehan</p>
                            <h5>2016</h5>
                        </div>
                    </div>
                </div>
                <div class="titles" style="margin-top: -30px;">
                    <div class="title">
                        <div class="info-title col-6">
                            <p>Amount</p>
                            <h5>$70.958,24 </h5>
                        </div>
                        <div class="info-title col-6">
                        </div>
                    </div>
                </div>
            </div>
            <a href="UpdatePage.html">
                <img class="sticky-bottom update" src="Asset/Update_Icon.png" alt="Update" width="70" height="70">
            </a>
        </div>
    </main>
</section>

